.btnz {
  border: 2px solid black;
  padding-left: 10px;
padding-right: 10px;
  color: white;
  font-size: 2em;
  min-width: 7vw;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100%;
  margin-right: 30px;

}
.red {
  background-color: coral;
}
.blue {
  background-color: blueviolet;
}
.green {
  background-color: lightgreen;
}
.yellow {
  background-color: yellowgreen;
}
.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 10vh;
  width: 100vw;
}
.hidden {
  display: none;
}

#heatSelector {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: white;
  padding: 0;
}
.heat {
  text-align: center;
  line-height: 20vh;
  float: left;
  min-width: 30vw;
  min-height: 20vh;
  margin: 5vw;
  border: 2px solid black;
  background-color: grey;
  font-size: 3em;
  font-weight: 900;
}
.centered {
  width: 100%;
  text-align: center;
}

.active_true {
  background-color: green;
}