.Entry {
  border: 1px solid black;
  padding: 0 2 0 2;
  margin: 2px;
}
.active_true {
  background-color: #7fffa9 !important;
}
.rightLine {
  border-right:  1px solid #e9eef2;
}

.heats {
  font-size: 10vh !important;
}

.heats {
  font-size: 10vh !important;
}
