.numPad {
  position: absolute;
  bottom: 10vh;
  right: 0px;
  height: 80vh;
  width: 30vw;
  border: 2px solid black;
}
.numPad table {
  width: 100%;
  height: 100%;
 background-color: white;
}
.selectedScore {
  background-color: green !important;
}
.function {
  font-size: 1em;
  font-weight: 700;
}
.numPad td, .score {
  font-size: 4em;
  background-color: grey;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  color: lightgrey;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.score {
  min-width: 20vw;
}
.nob {
  background: none !important;
}

.selector, .participantNumber {
  background-color: white;
  float: left;
  height: 15vh;
  width: 25vw;
  margin: 3vh 3vw 3vh 3vw;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 15vh;
  font-size: 4em;
  font-weight: 900;
  color: purple;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.notFinal {
  position: relative;
  height: 60vh;
}
.toSelect {
  position: absolute;
  bottom: 0px;
  right: 5vw;
  font-size: 4em;
}
.maybe_true {
  background-color: yellow !important;
}
.selected_true {
  background-color: green !important;
}
.button {
  background-color: blue !important;
}
.generalLook {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0%;
}
.generalLook h1 {
  width: 100%;
  text-align: center;
}